sudo: required

language: bash

dist: xenial

services:
- docker

script:
- TAG="0.12.0rc3"
- docker login -u="$DOCKER_USER" -p="$DOCKER_PASS"
- docker build -t cultclassik/ethminer-nv .
- docker images
- docker tag cultclassik/ethminer-nv cultclassik/ethminer-nv:latest cultclassik/ethminer-nv:$TAG
- docker push cultclassik/ethminer-nv:$TAG
- docker push cultclassik/ethminer-nv
