sudo: required

language: bash

dist: xenial

services:
  - docker

script:
  - TAG="0.12.0_nvd2"
  - CONT_NAME="ethminer-nv"
  - docker login -u="$DOCKER_USER" -p="$DOCKER_PASS"
  - docker build -t cultclassik/ethminer-nv .
  - docker images
  - docker tag cultclassik/$CONT_NAME cultclassik/$CONT_NAME:latest
  - docker tag cultclassik/$CONT_NAME cultclassik/$CONT_NAME:$TAG
  - docker push cultclassik/ethminer-nv:$TAG
  - docker push cultclassik/ethminer-nv
